--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cu118
safetensors==0.3.2
sentencepiece>=0.1.97
ninja==1.11.1

flask~=2.3.2
waitress~=2.1.2
asyncio~=3.4.3
websockets~=11.0.3
numpy==1.26.3
